.header-color {
background: black !important;

}
#logo-button{
    margin-right:55%;
    height: 64px;
    width: 180px
}

.landing-grid {
  background-image: url("https://i.ytimg.com/vi/7GKZqLmL4PI/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: #b92b27;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #1565C0, #b92b27); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;

  left: 0;
  width: 100%;
  height: 100%;
}



.resume-rightCol {
  background:url("http://getwallpapers.com/wallpaper/full/c/f/6/1085685-vertical-simple-backgrounds-1080x1920.jpg");
  color:black;
}

.landing-grid h1 {
  color:goldenrod;
  font-family: "Cinzel", serif;
}

.profile-image {
  height: 30%;
}

.projects-grid {
  width: 100%;
  height: 700px;
  background-image: url("https://images.pexels.com/photos/7376/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: "no-repeat";
  background-size: "cover"
}
.category-tabs{
  background-color:orange
}
.contact-body {
  margin: auto;
  background-image: url("https://images.pexels.com/photos/263564/pexels-photo-263564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  font-family: "Cinzel", serif;
  background-size: cover;
  background-repeat:"no-repeat"
}





.banner-text {
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color:goldenrod;
}

.banner-text hr {
  border-top: 5px dotted red;
  width: 100%;
  margin: auto;
}

.banner-text p {
  color:goldenrod;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color:orangered;
  font-size: 5em;
  padding: 8px;
  margin: auto;
}

.resume-image{
    background-image: url("http://getwallpapers.com/wallpaper/full/c/f/6/1085685-vertical-simple-backgrounds-1080x1920.jpg") !important;

    height: 100%;
    width:100%;
    background-size: cover
    
}

