.header-color {
background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 55%
}

.landing-grid{
 background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 55%
}





.banner-text{
    background-color:gold;
    opacity:.8;
    width:75%;
    margin: auto;
    border-radius: 10px
    

   
}

.banner-text h1{
    font-size: 50px;
    font-weight: bold;
    color:teal;
    margin-left:30%
}

.banner-text hr {
    margin-left: 50%;
    border-top: 5px dotted red;
    width: 100%;
    margin: auto;
}

.banner-text p {
color:teal;
font-size: 20px;
padding:1em;
margin-left: 90px
}

.social-links{
    display: flex ;
    justify-content: space-between;
    width:50px;
    margin: auto
}

.social-links i {
    color:teal;
    font-size: 5em;
    padding: 8px;
    
}

